* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(5, 3, 78);
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  padding: 20px 20px;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  gap: 80px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: white;
  transition: all 0.2s linear;
}
.nav a {
  color: white;
  text-decoration: none;
}
.nav a:hover {
  color: tomato;
  scale: 0.97;
}
.nav .create-recipes {
  padding: 15px 25px;
  background-color: rgb(1, 0, 37);
  border-radius: 10px;
}

.home {
  margin-top: 40px;
  margin-left: 15%;
}

.recipes {
  padding: 10px;
  margin-top: 40px;
  margin-left: 20%;
  margin-right: 10%;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.about {
  margin-top: 40px;
  margin-left: 15%;
}

.create {
  margin-top: 20px;
  margin-left: 15%;
}
.create .form .url {
  font-size: 18px;
  padding: 10px 0px;
  background-color: rgb(5, 3, 78);
  color: white;
  margin-bottom: 10px;
  border: transparent;
}
.create .form hr {
  width: 20%;
}
.create .form .error {
  font-size: 15px;
  display: block;
  margin-top: 10px;
  color: salmon;
}
.create .form .recipe-title {
  font-size: 18px;
  padding: 10px 0px;
  background-color: rgb(5, 3, 78);
  color: white;
  margin-bottom: 10px;
  border: transparent;
}
.create .form .recipe-title:hover {
  box-flex-group: white;
}
.create .form .description {
  background-color: rgb(5, 3, 78);
  border: transparent;
  color: white;
  font-size: 20px;
}
.create .form .ingredients {
  background-color: rgb(5, 3, 78);
  border: transparent;
  color: white;
  font-size: 20px;
}
.create .form .instruction {
  background-color: rgb(5, 3, 78);
  border: transparent;
  color: white;
  font-size: 20px;
}
.create .form .category {
  background-color: rgb(5, 3, 78);
  color: gray;
  font-size: 20px;
  padding: 10px 0px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.create .form .save-recipe {
  padding: 10px 10px;
  font-size: 18px;
  background-color: rgb(2, 0, 53);
  color: white;
  border: none;
  border-radius: 10px;
  margin-left: 20px;
}
.create .form .save-recipe:active {
  scale: 0.9;
}

.renderrecipe {
  font-size: 18px;
  font-weight: 100;
  color: white;
}
.renderrecipe h3 {
  color: rgb(251, 108, 92);
}

.card {
  text-decoration: none;
}
.card .showcard {
  padding: 10px;
  border: solid 5px black;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 400px;
  height: -moz-fit-content;
  height: fit-content;
  aspect-ratio: 1;
}
.card .showcard .image {
  height: 20vh;
  aspect-ratio: 1;
  margin-bottom: 10px;
  border-radius: 10px;
}
.card .showcard h1 {
  color: white;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
.card .showcard h3 {
  color: salmon;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.card .showcard h4 {
  color: gray;
  font-size: 14px;
  font-weight: 400;
}
.card .showcard hr {
  border: 1px solid gray;
  margin: 15px 0px;
}/*# sourceMappingURL=index.css.map */