*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(8, 7, 59);
    color: white;
    font-size: 25px;
    

}

.nav{
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 40px;
    color: white;
    background-color:  rgb(8, 7, 59);
    
    a {
        color: white;
        text-decoration: none;

        &:focus {
        text-decoration: underline;
        color: rgb(55, 176, 216);
        scale: 0.95;
        }
    }
    
}




#root{
    padding: 20px;

    .product{
        margin-left: 100px;

        h1{
            font-size: 50px;
            margin: 25px 0px;
        }
        button{
            padding: 10px 20px;
            font-size: 20px;
            border-radius: 10px;
            transition: all 0.1s linear;
        }
        button:active{
            scale: 0.9;
        }
    }

    .productDetail{
        margin-left: 100px;
         

        h1{
            font-size: 55px;
            margin: 25px 0px;

        }
        h2{
            font-size: 40px;
            margin-bottom: 25px;
        }
        button{
            padding: 10px 20px;
            font-size: 20px;
            border-radius: 10px;
            transition: all 0.1s linear;
        }
        button:active{
            scale: 0.9;
        }
    }

    .service{
        margin-left: 100px;

        h1{
            font-size: 50px;
            margin: 25px 0px;
        }
        button{
            padding: 10px 20px;
            font-size: 20px;
            border-radius: 10px;
            transition: all 0.1s linear;
            margin-bottom: 20px;
            margin-right: 20px;
        }
        button:active{
            scale: 0.9;
        }
    }

    .serviceDetail{
        // margin-left: 100px;
         

        h1{
            font-size: 55px;
            margin: 25px 0px;

        }
        h2{
            font-size: 40px;
            margin-bottom: 25px;
        }
        button{
            padding: 10px 20px;
            font-size: 20px;
            border-radius: 10px;
            transition: all 0.1s linear;
            
        }
        button:active{
            scale: 0.9;
        }
    }

    .ServiceUpdate{
        // margin-left: 100px;
         

        h1{
            font-size: 55px;
            margin: 25px 0px;

        }
        h2{
            font-size: 40px;
            margin-bottom: 25px;
        }
        button{
            padding: 10px 20px;
            font-size: 20px;
            border-radius: 10px;
            transition: all 0.1s linear;
            
        }
        button:active{
            scale: 0.9;
        }
    }
}


